<!DOCTYPE html>
<html lang="en">
<head>
    <title>HBNB</title>
</head>
<body>

    <h1>States and Cities</h1>

    {% if not_found %}
        <p>State not found</p>
    {% elif single_state %}
        <h2>{{ states[0].name }}</h2>
        <ul>
            {% for city in states[0].cities | sort(attribute='name') %}
                <li>{{ city.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <ul>
            {% for state in states %}
                <li>
                    <h2>{{ state.name }}</h2>
                    <ul>
                        {% for city in state.cities | sort(attribute='name') %}
                            <li>{{ city.name }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

</body>
</html>
